@{
    ViewData["Title"] = "About";
}

<div class="mt-5 text-center">
    <h1 class="fw-bold">What's this site all about? 🤔</h1>
    <p class="fs-5 mt-3">Just a lil’ project showing off ASP.NET Core MVC. It’s like a digital playground for coding peeps 🧑‍💻</p>

    <img src="https://images.unsplash.com/photo-1605379399642-870262d3d051" class="img-fluid rounded mt-4 shadow" alt="Teamwork" width="600" />
</div>
